body {
    background-color: #0a0a0a;
    color: #f6f3f3;
}

.menu-list-group {
  position: absolute;
}

.menu-list-group:nth-child(odd) {

  width: 103mm;
  height: auto;
  border: #05050508 solid 1pt;
  position: absolute;
  left: 20mm;
  top: 113mm;

}

.menu-list-group:nth-child(even) {
  width: 100mm;
  height: auto;
  border: #09040400 solid 1pt;
  position: absolute;
  right: 9mm;
  bottom: 144mm;
}

.menu-list-group-3:nth-child(odd) {
    width: 100mm;
    height: auto;
    border: #09040400 solid 1pt;
    position: absolute;
    right: 9mm;
    bottom: 49mm;
}

body .menu-wrapper {
    border: 6pt solid white;
   margin: auto;
   overflow: hidden;
    background: linear-gradient(to bottom, rgb(1, 0, 0) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
   background-blend-mode: multiply,multiply;
   left: auto;
   top: auto;
   width: 250mm;
   height: 350mm;
   position: relative;
 }
 
 

 


.box3
 {
    height: 44pt;
    width: 179pt;
    position: absolute;
    left: 389pt;
    bottom: 358pt;
    background-color: #FFEB3B;
}


 
.box4
{
  height: 44pt;
  width: 215pt;
  position: absolute;
  right: 97pt;
  bottom: 631pt;
  background-color: #FFEB3B;
}
 
 
.box5
{
  height: 45pt;
  width: 226pt;
  position: absolute;
  left: 58pt;
  top: 320pt;
  background-color: #FFEB3B;
}
 
 .borders
 {
  position: relative;
  top: 242pt;
  left: 61pt;
  width: 223pt;
  border-top: 3pt solid #FFEB3B;
 }

 .restorent-name
 {
  color: #FFEB3B;
  font-weight: bolder;
  font-size: 65pt;
  font-style: normal;
  position: relative;
  left: 84pt;
  top: 55pt;
 }
 
 .restorent-discription
 {
  color: #FFEB3B;
  font-weight: bolder;
  font-size: 60pt;
  font-style: normal;
  position: relative;
  left: 83pt;
  top: 27pt;
 }
 
 .restaurant-add-content
 {
  width: 1000pt;
    position: absolute;
    top: -15pt;
    left: -269pt;
 }
 
 .restaurant-phone
 {

    position: absolute;
    top: 879pt;
    left: 645pt;
    font-size: 20pt;

 }
 
 .restaurant-web
 {
    position: absolute;
    top: 912pt;
    left: 645pt;
    font-size: 20pt;
 }
 
 .restaurant-email
 {
    position: absolute;
    top: 947pt;
    left: 645pt;
    font-size: 20pt;
 }

 .menu-list-heading
 {
  padding-left: 3mm;
    padding-bottom: 4mm;
    font-weight: 900;
    font-size: 29pt;
    font-family: auto;
    /* font-style: oblique; */
    color: #030202;
 }

 
 
 
 .img1
 {
  transform: rotateZ(400deg);
  position: absolute;
  top: 28pt;
  right: 68pt;
  /* size: 65pt; */
  height: 250pt;
  width: 250pt;
  border-radius: 50%;
  border: 7px dotted rgba(214, 214, 213, 0.888);
  object-fit: cover;
 }

 .img-hover {
  width: 257pt;
  transition: transform 6s linear;
}

.img-hover:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .img2
 {
  transform: rotate(38deg);
  position: absolute;
  top: 620pt;
  right: 342pt;
  /* size: 65pt; */
  width: 325pt;
  height: 325pt;
  border: 2mm dotted white;
 }


 .img3
 {
  position: absolute;
    top: 55pt;
    right: 352pt;
    /* size: 65pt; */
    height: 269pt;
    border-radius: 50%;
    border: 2mm solid red;
    object-fit: cover;

 }

 .img-hover1 {
  width: 271pt;
  transition: transform 6s linear;
}

.img-hover1:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
 .menu-list1-price
 {
   line-height: 39pt;
   font-weight: 800;
    display: grid;
    font-size: 21pt;
    position: absolute;
    top: 220pt;
    left: 225pt;
 }

 


 .menu-list-item {
  line-height: 118%;
    display: flex;
    /* align-content: space-evenly; */
    justify-content: space-between;
    font-size: xx-large;
    align-items: center;
 }
/* 
 .menu-list2-price
 {
   line-height: 39pt;
   font-weight: 800;
    display: grid;
    font-size: 21pt;
    position: absolute;
    top: 350pt;
    left: 220pt;
 } */

 


 .menu-list-item {
  line-height: 118%;
    display: flex;
    /* align-content: space-evenly; */
    justify-content: space-between;
    font-size: xx-large;
    align-items: center;
 }

 .menu-list3-price
 {
   line-height: 39pt;
   font-weight: 800;
    display: grid;
    font-size: 21pt;
    position: absolute;
    top: 350pt;
    left: 280pt;
 }

 


 .menu-list-item {
  line-height: 118%;
    display: flex;
    /* align-content: space-evenly; */
    justify-content: space-between;
    font-size: xx-large;
    align-items: center;
 }

